.button1 {
    height :50px;
    width :200px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 25px;
}


.input {
    width: 300px;
    height: 48px;
    border-radius: 50px;
    font-size: 25px;
}

.button1:hover{
    border: 2px solid white;
}